# IDE & OS Specific Files
.vscode/
.idea/
.DS_Store
*.swp

# CMake Build Directories (Root Level)
# Ignores build/, buildgpu/, build_cpu/, etc. at the project root
build*/
Build*/
out/

# Exec folder. Track independently for each machine
Exec/**

# Ignore the documentation files, except the ones needed to rebuild docs
Docs/**
!Docs/source
!Docs/source/conf.py
!Docs/source/index.rst
!Docs/source/manual/
!Docs/source/manual/**